.error-explanation {
  width: 450px;
  border: 2px solid red;
  margin: 0 auto 20px;
  background-color: #f0f0f0;

  &__header {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    background-color: #c00;
    color: #fff;
  }

  &__main {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
  }

  &__lists {
    list-style-type: none;
  }
}
